<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping
                class="com.stefanini.taskmanager.persistence.entity.User"/>
        <mapping
                class="com.stefanini.taskmanager.persistence.entity.Task"/>
        <mapping
                class="com.stefanini.taskmanager.persistence.entity.Group"/>
    </session-factory>
</hibernate-configuration>  